@use "../utilities/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-fondo;
  color: $color-texto;
  font-family: Inter, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  line-height: inherit;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

::selection {
  background-color: $color-texto;
  color: $color-acento;
}
